@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    font-display: swap;
    src: url("./Quicksand/Quicksand-VariableFont_wght.ttf") format("woff2");
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-display: swap;
    src: url("./Lato/Lato-Regular.ttf") format("woff2");
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-display: swap;
    src: url("./Lato/Lato-Bold.ttf") format("woff2");
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("./Lato/Lato-Italic.ttf") format("woff2");
}